<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724781777802-6biao0u4ab863f73b9aadqj6od9qhd2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724781777802-6biao0u4ab863f73b9aadqj6od9qhd2j</string>
	<key>API_KEY</key>
	<string>AIzaSyACdDEupbsyY7nah8m9zKX_EeTi0J9OlFk</string>
	<key>GCM_SENDER_ID</key>
	<string>724781777802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aboqasem.timeProgress</string>
	<key>PROJECT_ID</key>
	<string>time-progress-ec84a</string>
	<key>STORAGE_BUCKET</key>
	<string>time-progress-ec84a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724781777802:ios:fcbe06fc7f32b27e057e73</string>
</dict>
</plist>